:root {
  --neutral-0: #ffffff;
  --neutral-300: #a7aaaa;
  --neutral-400: #898e8e;
  --neutral-800: #181919;
  --neutral-hover: #000000;

  --color-brand-green: #00ff00;
  --gradient-grey: linear-gradient(180deg, #fafafa 0%, #9b9b9b 100%);

  --color-bg: var(--neutral-hover);
}
