@import "tailwindcss";

@theme {
  --color-brand-green: #00ff00;
  --color-brand-green-5: color-mix(in srgb, var(--color-brand-green) 5%, transparent);
  --color-brand-green-10: color-mix(in srgb, var(--color-brand-green) 10%, transparent);

  --color-neutral-0: #ffffff;
  --color-neutral-300: #a7aaaa;
  --color-neutral-400: #898e8e;
  --color-neutral-800: #181919;
  --color-neutral-hover: #000000;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}
